{% extends "layout.html" %}

{% block title %}| Contact{% endblock %}

{% block main %}

    <div class="mb-5 container text-center">
        <figure>
            <img src="static/home.jpg" alt="Somewhere in Basilicata" class="figure-img img-fluid">
        <figcaption class="small figure-caption"> Somewhere in Basilicata </figcaption>
        </figure>

        

        <p class="mb-1"><a target="_blank" rel="noopener noreferrer" href="mailto:gio.duca13d@gmail.com"> gio.duca13d@gmail.com </a></p>
        <p class="mb-1"><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/giovanniduca13/"> Linkedin </a></p>
        <p class="mb-1"><a target="_blank" rel="noopener noreferrer" href="https://github.com/r3lativo"> GitHub </a></p>
        <p class="mb-2"><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/dju.one/"> Instagram </a></p>


        
    </div>
{% endblock %}