{% extends "layout.html" %}

{% block title %}
    | Home
{% endblock %}

{% block main %}

    <div class="mb-5 container">
        <figure>
            <img src="static/library.jpg" alt="Library" class="figure-img img-fluid">
        </figure>
    
        <dl>
            <dt>What is Project Gutenberg?</dt>
            <dd>
                Project Gutenberg is a volunteer effort to digitize and archive cultural works.
                The mission of Project Gutenberg is simple: 
                <em>"To encourage the creation and distribution of eBooks".</em>
                It was founded in 1971 by American writer Michael S. Hart and is the oldest digital library.
                Most of the items in its collection are the full texts of books or individual stories in the public domain.
                All files can be accessed for free under an open format layout, available on almost any computer.
                As of 3 October 2015, Project Gutenberg had reached 50,000 items in its collection of free eBooks.
            </dd>
            <dt>What is this?</dt>
            <dd>
                You will be able to analyse some books gathered from the Project,
                precisly viewing the words that pop up the most in a book.
            </dd>
            <dt>Who am I?</dt>
            <dd>
                "Giovanni Duca, wannabe compling"™.
                <br>
                With this little project of mine, I wanted to dip my toes into NLP,
                while letting others know about it.
            </dd>
        </dl>
    </div>
    
{% endblock %}